/*-- scss:defaults --*/

// colors
$color-white: #FFFFFF;
$color-black: #000;

$presentation-font-size-root: 22px;
$body-bg: $color-white !default;
$body-color: $color-black !default;
$presentation-heading-color: $color-black !default;

/*-- scss:rules --*/